@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    font-family: 'Raleway', sans-serif;
    font-optical-sizing: auto;
  }
  
.bigshoulders {
    font-family: "Big Shoulders Display", sans-serif;
}